/* styles/DarkModeToggle.css */
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.dark-mode-toggle {
  animation: fadeIn 0.5s ease-in-out;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.toggle-label:hover {
  transform: scale(1.1);
}

.toggle-label i {
  font-size: 1.4rem;
  background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden-checkbox {
  display: none;
}

/* Light mode */
.toggle-label {
  background: transparent;
}

/* Dark mode */
.dark-mode-toggle:checked + .toggle-label i {
  font-size: 1.4rem;
  background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Show moon symbol in light mode */
.toggle-label {
  content: "\f186"; /* moon symbol */
}

/* Show sun symbol in dark mode */
.dark-mode-toggle:checked + .toggle-label {
  content: "\f185"; /* sun symbol */
}

/* Animation for the toggle button */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}