/* Projects Section */
#projects {
    padding: 80px 0;
  }
  
  .projects-content {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
  
  .projects-content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
  }
  
  .project-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 17px rgba(80, 80, 80, 0.31);
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    opacity: 0;
    animation: rightSideAni 1s ease forwards;
    aspect-ratio: 1 / 1;
  }
  
  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(80, 80, 80, 0.5);
  }
  
  .project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }
  
  .project-item:hover .project-info {
    transform: translateY(0);
  }
  
  .project-item:hover img {
    filter: blur(3px);
  }
  
  .project-item h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
  }
  
  .project-item p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .project-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, #F7086C 0%, #35c9fc 100%);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background 0.3s ease;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .project-link:hover {
    background: linear-gradient(to right, #35c9fc 0%, #F7086C 100%);
  }

 /* Mobile Responsive Design */
@media only screen and (max-width: 768px) {
  .projects-grid {
    grid-auto-flow: row; /* Display project items in a column */
    grid-template-columns: 1fr; /* Make each project item full-width */
  }
  .project-item {
    width: 250px; /* Set a fixed width for project items on mobile */
    height: 250px; /* Set a fixed height for project items on mobile */
    margin: 10px auto; /* Add some margin to center the project items */
  }
  .project-info {
    padding: 1rem; /* Reduce padding on mobile */
  }
  .project-item h3 {
    font-size: 1.1rem; /* Reduce font size on mobile */
  }
  .project-item p {
    font-size: 0.8rem; /* Reduce font size on mobile */
  }
  .project-link {
    padding: 0.3rem 0.8rem; /* Reduce padding on mobile */
    font-size: 0.8rem; /* Reduce font size on mobile */
  }
}