/* Skills Section */
#skills {
    padding: 80px 0;
  }
  
  .skills-content h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .skill-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 17px rgba(80, 80, 80, 0.2);
    padding: 20px;
    transition: transform 0.3s;
  }
  
  .skill-item:hover {
    transform: translateY(-10px);
  }
  
  .skill-item h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  /* Mobile Responsive Styles for Skills Section */

/* For screens with a maximum width of 768px (tablets and below) */
@media (max-width: 768px) {
  #skills {
    padding: 40px 0; /* Reduce padding for smaller screens */
  }
  
  .skills-grid {
    grid-auto-flow: row;
    grid-template-columns: 1fr; /* Change to single column layout */
    gap: 1.5rem; /* Reduce gap between grid items for smaller screens */
  }
  
  .skill-item {
    width: 250px; /* Set a fixed width for project items on mobile */
    height: 100px; /* Set a fixed height for project items on mobile */
    margin: 10px auto; /* Add margin between skill items */
  }
  
  .skill-item h3 {
    font-size: 1.2rem; /* Reduce font size for smaller screens */
  }
}
